.parent {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}


.haku {
   margin-left: 2rem;
}

.phoneBox {
    margin: 2rem;
    border-radius: 0.9rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: row; 
    flex-wrap: nowrap;
    flex-grow: 2;
    /* justify-content: flex-end; */
    width: 70rem;
    /* position: relative; */
    padding: 15px; 
    transition: transform 0.2s;
    z-index: 1;
    /* display: block; */


    /* hover off */
    transition: all 0.2s ease-in-out; 
}

.phoneBox:hover {
   /* HOVER ON  */
  transform: scale(1.1); 
  margin: 10px;
}
    
.tuoteotsikko h3 a {
    color: #990AE3;
    /* text-decoration:wavy; */
  
}

.image img {
    width: 100px;
}