.parent {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

label {
    margin-bottom: 5px;
    margin-top: 10px;
}


.haku {
   margin-left: 2rem;
   /* z-index: 10000;ö */
}

.phoneBox {
    margin: 2rem;
    border-radius: 0.9rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: row; 
    flex-wrap: nowrap;
    flex-grow: 2;
    /* justify-content: flex-end; */
    width: 70rem;
    /* position: relative; */
    padding: 15px; 
    transition: transform 0.2s;
    z-index: 100;
    /* display: block; */


    /* hover off */
    transition: all 0.2s ease-in-out; 
}

.phoneBox:hover {
   /* HOVER ON  */
  transform: scale(1.1); 
  margin: 10px;
  
}
a:link{
    text-decoration: none!important;
  }
  

.tuotetiedot h3 {
    color: #990AE3;
    /* text-decoration:wavy; */
}
.tuotetiedot p {
    color: black;
    /* text-decoration:wavy; */
}

.image img {
    width: 100px;
}