
<div class="sivu">
<div>
   <label>Search </label>
   <input type="text" [(ngModel)]="term">
</div>  

<label>Sort: </label>
<select (change)="selectChange($event)">
   <option value="age">Newest</option>
   <option value="name">Alphabetical</option>
 </select>

<div class="phoneBox" *ngFor="let phone of phones | filter:term | orderBy: order"  >
   <div>
      <figure class="image">
         <img src="{{phone.imageUrl}}" >
      </figure>
   </div>
   <div>
      <div>
         <h3><a routerLink='/tiedot' routerLinkActive="true">{{phone.name}}</a></h3>
         <p>{{phone.snippet}}</p>
   </div>
  
      <!-- <a [title]="phone.name + ' details'" [routerLink]="['/products', productId]">
		</a> -->
</div>
</div>
