/* You can add global styles to this file, and also import other style files */
h1 {
    padding: 2rem;
}

.header {
    /* background-color: #990AE3; */
    margin: 0rem 0rem 2rem 0rem  ;
}
.header h1{
    color: #990AE3;
    font-weight: bold;
}
