/* You can add global styles to this file, and also import other style files */
h1 {
    padding: 2rem;
}

.header {
    /* background-color: #990AE3; */
    margin: 0rem 0rem 2rem 0rem  ;
}
.header h1{
    color: #990AE3;
    font-weight: bold;
}

.searchBar {
    padding: 0rem 2rem ;
}

.phoneBox {
    padding: 2rem;
    margin: 2rem;
    border-radius: 0.9rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    position: relative;
    padding: 15px; 
    transition: transform 0.2s;
    flex-direction: column; 
    z-index: 1;
    display: block;
    /* hover off */
    transition: all 0s ease-in-out; 
}

.phoneBox:hover {
   /* HOVER ON  */
  transform: scale(1.1); 
}
    

.phoneName {
    color: #990AE3;
  
}

.image {
    order: 1;
    width: 10%;
}